In [671]:
import pandas as pd
import numpy as np
import seaborn as sns

In [672]:
cc_df = pd.read_csv('fraud.csv')

In [673]:
pd.set_option('display.max_columns', 50)

In [674]:
cc_df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,MI,48174,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0

In [675]:
cc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   category               491134 non-null  object
 4   amt                    491134 non-null  float64
 5   first                  491134 non-null  object
 6   last                   491134 non-null  object
 7   gender                 491134 non-null  object
 8   street                 491134 non-null  object
 9   city                   491134 non-null  object
 10  state                  491134 non-null  object
 11  zip                    491134 non-null  int64
 12  lat                    491134 non-null  float64
 13  long                   491134 non-null  float64
 14  city_pop               491134 non-null  int64
 15  job                    491134 non-null  object
 16  dob                    491134 non-null  object
 17  trans_num              491134 non-null  object
 18  unix_time              491134 non-null  int64
 19  merch_lat              491134 non-null  float64
 20  merch_long             491134 non-null  float64
 21  is_fraud               491134 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 82.4+ MB

In [676]:
cc_df.describe()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,4.911340e+05,491134.000000,491134.000000,491134.000000,491134.000000,4.911340e+05,4.911340e+05,491134.000000,491134.000000,491134.000000
mean,3.706013e+17,69.050120,50770.532384,37.931230,-90.495619,1.213922e+05,1.358730e+09,37.930272,-90.495411,0.002533
std,1.260229e+18,160.322867,26854.947965,5.341193,12.990732,3.725751e+05,1.819402e+07,5.372986,13.004100,0.050264
min,5.038744e+11,1.000000,1843.000000,24.655700,-122.345600,4.600000e+01,1.325376e+09,23.655789,-123.345106,0.000000
25%,2.131124e+14,8.960000,28405.000000,33.746700,-97.235100,1.228000e+03,1.343087e+09,33.781388,-96.984814,0.000000
50%,3.531130e+15,42.170000,49628.000000,38.507200,-87.591700,5.760000e+03,1.357257e+09,38.545124,-87.573441,0.000000
75%,4.653879e+15,80.330000,75048.000000,41.520500,-80.731000,5.083500e+04,1.374626e+09,41.624294,-80.685567,0.000000
max,4.956829e+18,25086.940000,99323.000000,48.887800,-69.965600,2.906700e+06,1.388534e+09,49.887523,-68.965624,1.000000

In [677]:
cc_df['amt'].sort_values()
# 큰 이상은 아니라고 판단됨 카드결제금액

258861        1.00
254027        1.00
469101        1.00
257652        1.00
172571        1.00
            ...
43412     14630.68
198719    15047.03
410031    16837.08
49446     17897.24
93045     25086.94
Name: amt, Length: 491134, dtype: float64

In [678]:
cc_df.describe(include='object')

,trans_date_trans_time,merchant,category,first,last,gender,street,city,state,job,dob,trans_num
count,491134,491134,491134,491134,491134,491134,491134,491134,491134,491134,491134,491134
unique,488474,693,14,92,102,2,124,121,44,110,123,491134
top,2019-10-17 23:20:54,fraud_Kilback LLC,shopping_pos,Margaret,Lowe,F,444 Robert Mews,Birmingham,TX,Environmental consultant,1977-03-23,1f76529f8574734946361c461b024d99
freq,3,1602,48345,16029,16056,352445,4392,8029,49621,8777,8044,1

In [679]:
cc_df.duplicated().sum()

0

In [680]:
cc_df.isna().mean()

trans_date_trans_time    0.0
cc_num                   0.0
merchant                 0.0
category                 0.0
amt                      0.0
first                    0.0
last                     0.0
gender                   0.0
street                   0.0
city                     0.0
state                    0.0
zip                      0.0
lat                      0.0
long                     0.0
city_pop                 0.0
job                      0.0
dob                      0.0
trans_num                0.0
unix_time                0.0
merch_lat                0.0
merch_long               0.0
is_fraud                 0.0
dtype: float64

In [681]:
pd.Series(cc_df.columns)

0     trans_date_trans_time
1                    cc_num
2                  merchant
3                  category
4                       amt
5                     first
6                      last
7                    gender
8                    street
9                      city
10                    state
11                      zip
12                      lat
13                     long
14                 city_pop
15                      job
16                      dob
17                trans_num
18                unix_time
19                merch_lat
20               merch_long
21                 is_fraud
dtype: object

In [682]:
cc_df[cc_df['is_fraud']==1]

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
4794,2019-01-12 00:59:01,581686439828,"fraud_Zieme, Bode and Dooley",gas_transport,11.73,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,77c44b4cff9a624f54d389887605dbb2,1326329941,41.947427,-79.796264,1
4816,2019-01-12 03:48:07,581686439828,fraud_Koepp-Witting,grocery_pos,328.68,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,90e7917ee506a5b1ea068bdf2fac064b,1326340087,42.148618,-79.398595,1
4979,2019-01-12 15:46:10,581686439828,fraud_Abernathy and Sons,food_dining,120.58,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,aaac448ccb3f869994c4f1cad95dba18,1326383170,42.470024,-80.126576,1
5073,2019-01-12 19:53:59,581686439828,fraud_Boyer-Reichert,shopping_net,1081.35,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,8545f40c91a37f8015749b0f962cff20,1326398039,42.455406,-79.521640,1
5124,2019-01-12 22:44:05,581686439828,fraud_Fisher-Schowalter,shopping_net,776.70,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,3b6d88a3c7349cb3ee408bce6e4ffac2,1326408245,40.680209,-79.099101,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477832,2020-12-21 02:21:41,4716561796955522,fraud_Murray-Smitham,grocery_pos,358.24,Lauren,Anderson,F,11014 Chad Lake Apt. 573,Heart Butte,MT,59448,48.2777,-112.8456,743,Water engineer,1972-05-04,8a5d80eb4f573480db90899dd8b1c34a,1387592501,47.526202,-113.643313,1
477847,2020-12-21 02:36:03,4716561796955522,fraud_Schmidt and Sons,shopping_net,859.12,Lauren,Anderson,F,11014 Chad Lake Apt. 573,Heart Butte,MT,59448,48.2777,-112.8456,743,Water engineer,1972-05-04,fe8464ee336fe08b2adacdd0867b1343,1387593363,48.272348,-112.328075,1
479296,2020-12-21 22:38:38,4716561796955522,fraud_Quitzon-Goyette,home,209.84,Lauren,Anderson,F,11014 Chad Lake Apt. 573,Heart Butte,MT,59448,48.2777,-112.8456,743,Water engineer,1972-05-04,7cde9b7604a025e251756a4bc9615888,1387665518,49.173669,-112.698767,1
479305,2020-12-21 22:42:11,4716561796955522,fraud_Schulist Ltd,food_dining,123.58,Lauren,Anderson,F,11014 Chad Lake Apt. 573,Heart Butte,MT,59448,48.2777,-112.8456,743,Water engineer,1972-05-04,daabc7ccf6ccf2c85c1f6186ca11193a,1387665731,48.913048,-113.214921,1
479341,2020-12-21 22:59:22,4716561796955522,fraud_Botsford and Sons,home,219.11,Lauren,Anderson,F,11014 Chad Lake Apt. 573,Heart Butte,MT,59448,48.2777,-112.8456,743,Water engineer,1972-05-04,4de4d5177b9b5c2054a638583ba63a3d,1387666762,47.911219,-113.691603,1

In [683]:
cc_df['is_fraud'].value_counts(normalize=True)
# cc_df['is_fraud'].value_counts()

is_fraud
0    0.997467
1    0.002533
Name: proportion, dtype: float64

Step 1. 이것만큼은 꼭 해보세요!  
프로젝트에 정답은 없습니다. 배우신 내용을 토대로 자유롭게 데이터를 정제/  변환하시되, 아래 내용만큼은 반드시 실습해봅시다.  

1. 사기거래 여부를 예측하는 데 불필요한 컬럼을 제거합니다.  
2. 최소 2개 이상의 새로운 피처(변수)를 생성해봅시다.  
 [힌트] 구매 금액, 시간 등의 변수를 이용할 수 있습니다.

In [684]:
cc_df2 = cc_df.copy()
#혹시 몰라서 복사해놓기

# 사기거래 여부를 예측하는 데 불필요한 컬럼을 제거합니다.

In [685]:
cc_df2.head()
# gender, citypop, unix_time
# 사기거래와 관련이 없다고 생각하고 추가적으로 이용 하지 않을 예정이기 때문에
# 삭제를 한다.

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,MI,48174,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0

In [686]:
cc_df2 = cc_df2.drop(columns=['gender','city_pop','unix_time'],axis=1)

사용하지 않는 컬럼들은 모두 지우고 싶긴 하지만 언제 어떻게 사용될지는 아무도 모르기 때문에 남겨놓자.

In [687]:
cc_df2 = cc_df2.drop(columns=['first','last','job','trans_num'],axis=1)
#추가적으로 안쓰는애들은 지워보자 원본이 있으니

In [688]:
cc_df2.sample()

,trans_date_trans_time,cc_num,merchant,category,amt,street,city,state,zip,lat,long,dob,merch_lat,merch_long,is_fraud
443971,2020-11-16 13:19:30,3566094707272327,fraud_Dietrich-Fadel,health_fitness,169.37,47029 Jimmy Tunnel Apt. 106,Newhall,CA,91321,34.3795,-118.523,1971-04-25,34.412164,-118.436568,0

#컬럼명은 기본이 익숙해진 관계로 바꾸지 않겠다..  
#이상치/결측치 모두 없다고 판단하겠다. 나의 기준 허용 범위 안에 있다.

2. 최소 2개 이상의 새로운 피처(변수)를 생성해봅시다.  
 [힌트] 구매 금액, 시간 등의 변수를 이용할 수 있습니다.

# 1. 결제 금액에 따른 사기 비율 계산해보기 [성공]

In [689]:
# 결제 금액 300 이상일 때에도 계산해 봤지만 비율이 500이 가장 높음
# 1000과 2000은 기존에 컬럼 만들어서 진행 했지만 삭제하고 다시 표시

# 결제 금액 500 이상일 때 사기 비율 계산해보기
cc_df2['amt_over500'] = cc_df2.apply(lambda x : 0 if x['amt'] < 500 else 1,axis=1)

In [690]:
cc_df2.groupby('amt_over500')['is_fraud'].value_counts(normalize=True)
#결과 해석
# 5000 미만 총 결제 중 사기 비율 약 0.14%
# 5000 이상 총 결제 중 사기 비율 약10.7%

amt_over500  is_fraud
0            0           0.998550
             1           0.001450
1            0           0.892907
             1           0.107093
Name: proportion, dtype: float64

In [691]:
# 금액에 따른 사기 비율
cc_df2.groupby('amt_over500')['is_fraud'].mean()

amt_over500
0    0.001450
1    0.107093
Name: is_fraud, dtype: float64

In [692]:
# 결제금액 1000달러 넘었을 때 사기 비율 계산해보기
cc_df2.apply(lambda x : 0 if x['amt'] < 1000 else 1,axis=1)

0         0
1         0
2         0
3         0
4         0
         ..
491129    0
491130    0
491131    0
491132    0
491133    0
Length: 491134, dtype: int64

In [693]:
# 금액에 따른 사기 비율
cc_df2.groupby(cc_df2.apply(lambda x : 0 if x['amt'] < 1000 else 1,axis=1))['is_fraud'].mean()

0    0.002214
1    0.099813
Name: is_fraud, dtype: float64

In [694]:
# 결제금액 2000달러 넘었을 때 사기 비율 계산해보기
cc_df2.apply(lambda x : 0 if x['amt'] < 2000 else 1,axis=1)

0         0
1         0
2         0
3         0
4         0
         ..
491129    0
491130    0
491131    0
491132    0
491133    0
Length: 491134, dtype: int64

In [695]:
cc_df2.groupby(cc_df2.apply(lambda x : 0 if x['amt'] < 2000 else 1,axis=1))['is_fraud'].value_counts(normalize=True)
# 그렇다 2000이상 일때는 사기결제가 없다.

   is_fraud
0  0           0.997465
   1           0.002535
1  0           1.000000
Name: proportion, dtype: float64

In [696]:
# 시각화를 통해 알아보자. [500달러이상]
# sns.barplot(x=)

# 2. 평일/주말 사기비율 계산하기 [성공]

In [697]:
# datetime 타입으로 변환하기
cc_df2['trans_date_trans_time'] = pd.to_datetime(cc_df2['trans_date_trans_time'])
#데이트타임 변환 명령어 pd.to_datetime()

In [698]:
cc_df2['trans_date_trans_time']

0        2019-01-01 00:00:44
1        2019-01-01 00:12:34
2        2019-01-01 00:17:16
3        2019-01-01 00:20:15
4        2019-01-01 00:23:41
                 ...
491129   2020-12-31 23:56:48
491130   2020-12-31 23:56:57
491131   2020-12-31 23:59:09
491132   2020-12-31 23:59:15
491133   2020-12-31 23:59:34
Name: trans_date_trans_time, Length: 491134, dtype: datetime64[ns]

In [699]:
#평일과 주말로 나누어 보자
cc_df2['weekend'] = cc_df2['trans_date_trans_time'].dt.weekday.apply(lambda x : 0 if x in range(5) else 1)
# 0,1,2,3,4는 월화수목금
# range(5)말고 [0,1,2,3,4] 를 사용해도 된다.
# 근데 [:5]는 사용이 안된다.
# 5,6은 토일

In [700]:
#평일과 주말로 나누어 보자
cc_df2.groupby('weekend')['is_fraud'].mean()

#결과 해석
# 평일과 주말 모두 사기거래 비율 약 0.2%대로 크게 유의미하지 않다.
# 모델을 만들어 사용 할 때에는 삭제가 필요함

weekend
0    0.002614
1    0.002369
Name: is_fraud, dtype: float64

# 3. 그렇다면 요일별로는 차이가 있을까 ? [실패]

In [701]:
#요일 컬럼 만들기
cc_df2['weekday'] = cc_df2['trans_date_trans_time'].dt.weekday

In [702]:
#요일별로 진행 사기거래율을 비교해보고 유의미하다면 
#모델 적용 전에 원핫인코딩을 진행한다고 한다. 
cc_df2.groupby('weekday')['is_fraud'].mean()

#결과 해석
# 각 요일별 사기거래비율 0.2% ~ 0.3%로 유의미하다고 생각되지 않아 모델 적용에 제외한다.

weekday
0    0.002615
1    0.002451
2    0.002378
3    0.003121
4    0.002538
5    0.002534
6    0.002246
Name: is_fraud, dtype: float64

In [703]:
#원핫인코딩으로 진행해보자 숫자가 높으니
# weekday = pd.get_dummies(cc_df2['weekday'],prefix='day_')
#사기거래 여부와 붙여서 사용해보자 결과값이 좋다면 그때 본문이랑 붙여보자
# weekday = pd.concat([cc_df2['is_fraud'],weekday],axis=1)
#실패다. 원핫인코딩까지 갈 필요가 없다.

# 4. 자 그러면 시간대로 가보자 오전/오후로 나누어보자 [성공]

In [704]:
#오전 오후로 나누어 보자
cc_df2['hour'] = cc_df2['trans_date_trans_time'].dt.hour.apply(lambda x : 0 if x < 12 else 1)

In [705]:
#나누었다면 사기율을 비교해보자
cc_df2.groupby('hour')['is_fraud'].mean()

# 오 0.4%와 0.1% 약 0.3%차이로 오전오후는 유의미하게 차이가 있다고 보겠다.

hour
0    0.004715
1    0.001680
Name: is_fraud, dtype: float64

# 5. 사기거래 내역만 걸러 봤을때 같은 카드로 사기가 많이 일어난 것 같다. 한번 알아보자[나름성공?]

In [706]:
#같은 카드로 사기거래가 몇번씩 일어났는지 확인해보자. 
cc_df2[cc_df2['is_fraud']== 1]['cc_num'].value_counts().unique()

array([18, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2])

In [707]:
# 카드별로 사기거래 횟수를 알아보자.
fraud_card = cc_df2[cc_df2['is_fraud']== 1]['cc_num'].value_counts()

In [708]:
# 카드별로 거래 횟수를 알아보자
total_card = cc_df2['cc_num'].value_counts()

In [709]:
cc_df2['cc_num'].value_counts().sort_values(ascending=False)
# 눈에 띄는 한개가 있다.
# 사기거래가 가장 많은 카드번호와 거래가 가장많은 카드 번호와 똑같다.

cc_num
6538441737335434    4392
30270432095985      4392
4364010865167176    4386
4642255475285942    4386
6538891242532018    4386
                    ...
36913587729122      3641
4681601008538160    3638
30551643947183      3638
4005676619255478    3638
3511378610369890    3628
Name: count, Length: 124, dtype: int64

In [710]:
fraud_ratio = (fraud_card / total_card).fillna(0)
# nan값이 존재한다 > 사기거래가 없는 카드 0으로 채워주자!
# 하지만... 사기비율이 너무 낮다. 최고 0.4%?

*** 여기서 중요한 의문이 하나 든다. ***  
*** 사기거래 횟수로 봐야될까? 비율로 봐야될까? ***  
횟수와 비율 둘다 최소를 설정해두고 같이 들어가보자

In [711]:
# 우선 사기거래 횟수가 높은 카드만 필터링 해보자 [10회이상 반복카드]
fraud_card[fraud_card >= 10]

cc_num
6538441737335434       18
3589289942931264       16
3576021480694169       16
213112402583773        16
3518669219150142       16
                       ..
3533742182628021       10
4586810168620942       10
2254917871818484       10
180036456789979        10
4956828990005111019    10
Name: count, Length: 75, dtype: int64

In [712]:
#조건에 만족하는 카드들을 정하고 고위험카드로 분류하자.
#0.003으로 조정하니 약 20만건이 위험카드라 0.004로 조정
risk_card = fraud_ratio[(fraud_card >= 10) & (fraud_ratio >= 0.004)].index

In [713]:
risk_card

Index([  30199621383748,  371226440126102, 3500969075198072, 3518669219150142,
       3527536963490470, 3556613125071656, 3576021480694169, 3589289942931264,
       6011693194885790, 6538441737335434],
      dtype='int64', name='cc_num')

In [714]:
cc_df2['risk_card'] = cc_df2['cc_num'].apply(lambda x : 1 if x in risk_card else 0 )

In [715]:
cc_df2[cc_df2['risk_card'] == 1]

,trans_date_trans_time,cc_num,merchant,category,amt,street,city,state,zip,lat,long,dob,merch_lat,merch_long,is_fraud,amt_over500,weekend,weekday,hour,risk_card
81,2019-01-01 06:20:57,3527536963490470,fraud_Murray-Smitham,grocery_pos,89.52,2838 White Fields Apt. 473,Brunson,SC,29911,32.9413,-81.1807,1974-12-05,33.936761,-81.678842,0,0,0,1,0,1
111,2019-01-01 08:40:48,371226440126102,fraud_Donnelly PLC,misc_net,3.11,85430 Julie Trafficway Suite 792,Mulberry Grove,IL,62262,38.9311,-89.2463,1974-12-24,38.240460,-89.930219,0,0,0,1,0,1
131,2019-01-01 09:57:52,3556613125071656,fraud_Cummings LLC,gas_transport,64.20,572 Davis Mountains,Lake Jackson,TX,77566,29.0393,-95.4401,1999-12-27,28.471527,-95.319439,0,0,0,1,0,1
179,2019-01-01 12:29:30,3576021480694169,fraud_Hickle Group,shopping_pos,9.19,9486 Joel Common Suite 554,Topeka,KS,66618,39.1329,-95.7023,2004-12-30,38.949619,-95.471502,0,0,0,1,1,1
206,2019-01-01 13:26:09,3556613125071656,fraud_Kihn Inc,shopping_pos,6.27,572 Davis Mountains,Lake Jackson,TX,77566,29.0393,-95.4401,1999-12-27,28.339809,-95.370525,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491086,2020-12-31 23:02:50,6011693194885790,fraud_Fisher Inc,shopping_net,3.11,2807 Parker Station Suite 080,Stanchfield,MN,55080,45.6675,-93.2433,1995-12-04,45.867555,-93.698447,0,0,0,3,1,1
491102,2020-12-31 23:19:03,3500969075198072,fraud_Reichel Inc,entertainment,92.34,0110 Ashley Forest,Tekoa,WA,99033,47.2271,-117.0819,1999-05-31,47.459463,-117.853276,0,0,0,3,1,1
491127,2020-12-31 23:50:34,371226440126102,fraud_Cartwright PLC,kids_pets,43.54,85430 Julie Trafficway Suite 792,Mulberry Grove,IL,62262,38.9311,-89.2463,1974-12-24,39.121026,-88.866295,0,0,0,3,1,1
491128,2020-12-31 23:54:12,3518669219150142,fraud_Berge-Hills,kids_pets,23.24,537 Rice Square Suite 040,Milford,OH,45150,39.1657,-84.2330,1996-11-12,38.653037,-84.419288,0,0,0,3,1,1
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,572 Davis Mountains,Lake Jackson,TX,77566,29.0393,-95.4401,1999-12-27,29.661049,-96.186633,0,0,0,3,1,1

Step 2. 이런것도 해볼 수 있어요!
자유롭게 실습을 해보시고, 여유가 되면 아래의 내용도 실습해보세요.
강의의 범위를 벗어나는 개념이 필요할 수 있으니, 인터넷 검색도 적극 활용해보세요.

# 데이터의 위도/경도 정보를 활용해볼 수 있을까요?

In [716]:
# 그럼 위도경도도 있는데 거리계산 한번 해보자 
# 그리고 가장 거리가 먼 거래내역에 대해서 지도로 펼쳐보자
# 당연히 혼자 못한다.. 지피티야 힘을 내!

# 가장 거리가 먼 거래내역 (번외)

In [717]:
import folium
import numpy as np

#오 처음보는 함수... 혼자 이걸 어떻게 쓰지
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # 지구 반경 (km)
    phi1, phi2 = np.radians(lat1), np.radians(lat2)
    delta_phi = np.radians(lat2 - lat1)
    delta_lambda = np.radians(lon2 - lon1)

    a = np.sin(delta_phi / 2.0) ** 2 + np.cos(phi1) * np.cos(phi2) * np.sin(delta_lambda / 2.0) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    return R * c  # 거리 (km)


cc_df2["distance_km"] = haversine(cc_df2["lat"], cc_df2["long"], cc_df2["merch_lat"], cc_df2["merch_long"])

In [718]:
# 가장 먼 거리의 결제 내역 찾기
max_distance_row = cc_df2.loc[cc_df2["distance_km"].idxmax()]

# 데이터 변환 (float 변환)
lat = float(max_distance_row["lat"])
long = float(max_distance_row["long"])
merch_lat = float(max_distance_row["merch_lat"])
merch_long = float(max_distance_row["merch_long"])

# 결제자 위치 및 결제 가게 위치 리스트 생성
cardholder_location = [lat, long]
merchant_location = [merch_lat, merch_long]

# 지도 생성 (결제자 위치 중심)
transaction_map = folium.Map(location=cardholder_location, zoom_start=8)

# 결제자 위치 마커 추가
folium.Marker(
    location=cardholder_location,
    popup="Cardholder Location",
    icon=folium.Icon(color="blue", icon="user")
).add_to(transaction_map)

# 결제가게 위치 마커 추가
folium.Marker(
    location=merchant_location,
    popup="Merchant Location",
    icon=folium.Icon(color="red", icon="shopping-cart")
).add_to(transaction_map)

# 결제자와 결제가게를 잇는 선 추가
folium.PolyLine(
    locations=[cardholder_location, merchant_location],
    color="black",
    weight=2.5,
    opacity=1
).add_to(transaction_map)

# 지도 출력
transaction_map

#시각화는 진짜 너무 어렵다

# 통계적 관점으로 접근하여 유용한 변수를 만들어낼 수 있을까요?  

통계적 관점으로 접근한다는게 무슨소리일까 ..

## 회고

처음 문제를 받았을 때 그 어느때 보다 오늘처럼 막막했던 적이 없다...  
받았을 떄 뭘 해야할지, 어떻게 해석을 해야할지 , 심지어 열이름도 제대로 모르니 시작부터 난관이었다 ..  

하나씩 문제를 다시 읽어가며 머리속에 어떤 식으로 나아가야 할 지 틀은 점차 잡혔지만, 또 다른 문제는 내가 이걸 어떻게 명령하고 실행할 수 있을 지였다.  
분명히 배운 내용을 써먹는 것이고 내 머리에 '이런게 있었다. 이런걸 했었다.'라고 생각이 들었지만, 그저 있을 뿐 손가락은 굳었고 머리도 마찬가지.......  

챗지피티에게 힌트만 받으면서 하고 모르는건 또 묻고 대답내용 해설해달라하고 하면서 진행을 했지만 다시 하라고하면 다시 할 수 있을지 의문이 든다.  

그래도 하나씩 비슷한 툴로 비슷한 내용으로 진행을 해보니 시작은 되고 점차 프로젝트의 모양새는 잡혀가니 기분은 뿌듯하다.  

마지막으로 시각화랑 폴리움은 요구와 명령이 너무 많다. 지피티가 존재해서 끊임없이 꼬리물고 부담없이 질문 할 수 있었지만 갑자기 예전엔 어떻게 했을까 라는 생각을 해봤다 ...

첫 메인퀘스트 SQL 만큼 막막하고 기억안나는건 또 오랜만이었다.

매번 회고에 쓰지만 '창조는 어렵고 모방은 쉽다.' 지피티야 힘내줘...